*,
*::before,
*::after {
    // Good practice
    box-sizing: border-box;

    // For body and headings as typography should be done by hand anyway
    margin: 0;

    // For controls
    font-family: inherit;
    appearance: none;
}

html,
body {
    display: contents;
}
